<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Acerca de la App</h1>
            <div class="button button-clear" ng-click="closeModal(4)"><span class="icon ion-close"></span></div>                    
        </ion-header-bar>
        <ion-content class="padding">
<h1>Acerca de la App</h1><br>
<h3>Versiones de android compatibles:</h3><br>
<h3>Version de la app</h3><br>
1.0 Beta
<h3>Powered by:</h3><br>
Julian Esteban Montoya
Julian David Quiroz
La Quinta Diseño Estrategico
<h3>contacto</h3><br>
www.la5ta.com.co
    </ion-content>
</ion-modal-view>