<ion-modal-view>
    <ion-header-bar style="background-color:#87764E;">
            <h1 class="title" style="color:#ffffff">Acerca de la App</h1>
            <div class="button button-clear" ng-click="closeModal(4)"><span class="icon ion-close"></span></div>                    
        </ion-header-bar>
        <ion-content class="padding">
<h1>Acerca de la App</h1><br>
<h3>Versión 1.0.0</h3><br>
<h3>Desarrolladores:</h3><br>
<i class="ion-checkmark-circled"></i>Julian David Quiroz<br>
<a onclick="window.open('http://la5ta.com.co/', '_system');"><h4 style="color:#BA595E">La Quinta Diseño Estrategico</h4></a>
    </ion-content>
</ion-modal-view>