<ion-view view-title="Contactenos!">
  <ion-content class="padding">
          <iframe  data-tap-disabled="true" src="https://v2.zopim.com/widget/livechat.html?key=2lgLHPgIdOriBLzrdpmWzqsGHmf5B0ss&mid=XJf2n0Cl7QI6U8&lang=es-es&hostname=maliaccesorios.com&api_calls=%5B%5B"setStatus"%2C%5Bnull%5D%5D%2C%5B"setStatus"%2C%5Bnull%5D%5D%5D"></iframe>
  </ion-content>
</ion-view>
<style type="text/css">
.scroll-content > .scroll {
  height: 100%;
}
.scroll-content > .scroll > iframe {
  min-height: 100%;
}
</style>