<ion-view view-title="Contáctanos">
    <ion-content>

<div class="list"> 
    <a class="item item-icon-left "> 
      <i class="icon ion-email"></i>Escribenos
    </a> 
    <a class="item item-icon-left" ui-sref="app.location"> 
      <i class="icon ion-location"></i>Ubicación
    </a> 
    <a class="item item-icon-left" ui-sref="app.chatOnline"> 
      <i class="icon ion-chatboxes"></i>Chat en línea
    </a> 
    <a class="item item-icon-left" href="tel:301 425 86 03" > 
      <i class="icon ion-ios-telephone"></i>Llamanos
    </a>             
</div>

    </ion-content>
</ion-view>
