<ion-view view-title="Inicio">
    <ion-content>
<div class="list condensed-space no-padding animate-blinds done done done done done">
                <div class="card dark-bg in" style="transition-delay: 0.18s;">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ui-sref="app.coleccionNueva">
                        <h2>Colección Nueva</h2>
                        <p>Artículos de nuestra ultima colección</p>
                        <img src="img/nuevos.jpg" style="transition-delay: 0.02s;">
                    </a>
                </div>
                <div class="card energized-bg in" style="transition-delay: 0.32s;">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ui-sref="app.collares">
                        <h2>Collares</h2>
                        <p>Descripción de collares</p>
                        <img src="img/collares.jpg" style="transition-delay: 0.09s;">
                    </a>
                </div>
                <div class="card assertive-bg in" style="transition-delay: 0.46s;">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ui-sref="app.pulseras">
                        <h2>Pulseras</h2>
                        <p>Descripción de pulseras</p>
                        <img src="img/pulseras.jpg" style="transition-delay: 0.21s;">
                    </a>
                </div>
                <div class="card balanced-bg in" style="transition-delay: 0.59s;">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ui-sref="app.aretes">
                        <h2>Aretes</h2>
                        <p>Descripción de Aretes</p>
                        <img src="img/aretes.jpg" style="transition-delay: 0.3s;">
                    </a>
                </div>
                <div class="card dark-bg in" style="transition-delay: 0.18s;">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ui-sref="app.complementos">
                        <h2>Complementos</h2>
                        <p>Descripción complementos</p>
                        <img src="img/complementos.jpg" style="transition-delay: 0.02s;">
                    </a>
                </div>                

            </div>
    </ion-content>
</ion-view>
