<ion-tabs class="tabs-striped tabs-color-assertive">

  <!-- Inicio Tab -->
  <ion-tab title="Inicio" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tab.dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Accesorios Tab -->
  <ion-tab title="Accesorios" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

    <!-- ofertas Tab -->
  <ion-tab title="Ofertas" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="">
    <ion-nav-view name=""></ion-nav-view>
  </ion-tab>

  <!-- Contacto Tab -->
  <ion-tab title="Contacto" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" ui-sref="tab.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
