<ion-modal-view>
    <ion-header-bar style="background-color:#87764E;">
            <h1 class="title" style="color:#ffffff">politicas de privacidad</h1>
            <div class="button button-clear" ng-click="closeModal(2)"><span class="icon ion-close"></span></div>                    
        </ion-header-bar>
        <ion-content class="padding" align="justify">
<h1>Privacidad de sus datos:</h1><br>
Hemos creado esta política de privacidad de sus datos para demostrar nuestro firme compromiso con la protección de tu información.<br><br>
<h1>¿Por qué has recibido un correo electrónico de Mali Accesorios?</h1><br>
Si has recibido un envío de nosotros es por uno de estos motivos: (a) tu dirección de correo electrónico aparece en nuestras listas porque alguien ha compartido de manera explícita esta dirección con el propósito de recibir información en el futuro ("opt-in" o aceptación explícita a participar), o (b) te has registrado con nosotros, has realizado alguna compra de nuestra tienda o por internet o mantienes en la actualidad algún tipo de relación con nosotros.<br><br>
Respetamos tu tiempo y gentileza por lo que controlamos la frecuencia de nuestros envíos.<br><br>
<h1>¿Cómo protegemos tu privacidad?</h1><br>
Utilizamos medidas de seguridad para proteger tu información contra la pérdida, mala utilización y alteración de datos utilizados por nuestro sistema.<br><br>
<h1>Uso compartido y utilización</h1><br>
Nunca compartiremos, venderemos ni alquilaremos información personal individual con nadie a no ser que lo ordene un tribunal de justicia.<br><br>
La información que nos remita sólo será compartida con los empleados que gestionan esta información con objeto de ponerse en contacto o enviarte correos electrónicos según tu petición de información así como con los proveedores de servicios contratados con objeto de proporcionarle servicios relacionados con nuestras comunicaciones contigo.<br><br>
<h1>¿Cómo puedes dejar de recibir correos electrónicos de Mali Accesorios?</h1><br>
Cada correo electrónico enviado contiene un modo sencillo y automatizado para que dejes de recibir nuestros correos electrónicos, o para modificar tus preferencias. Si deseas hacerlo, simplemente sigue las instrucciones que aparecen al inicio o final de cualquier correo electrónico.<br><br>
O puedes solicitar la supresión de tus datos personales, a través de los siguientes canales de servicio:<br>
<i class="ion-checkmark-circled">Correo electrónico dirigido a ventas.maliaccesorios@gmail.com. <br>
<i class="ion-checkmark-circled">Comunicándose a los teléfono (574) 2669747, Celular (57) 301 425 8603 o (57)301 440 6490 para atenderlo personalmente y aclarar todas sus dudas.<br><br>
<p>Esta política se creó el 01 de agosto de 2013.</p>

<br><br>

    </ion-content>
</ion-modal-view>