<ion-view view-title="Contacto">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left" type="item-text-wrap" ui-sref="tab.account-formContact">
        <i class="icon ion-email"></i>
        Cuentanos tu inquietud
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>   
        <ion-nav-view name="embedContact"></ion-nav-view>     
      </ion-item>

      <ion-item class="item-icon-left" type="item-text-wrap" >
        <i class="icon ion-email"></i>
        Cuentanos tu inquietud
      </ion-item>

      <ion-item class="item-icon-left" type="item-text-wrap" >
        <i class="icon ion-email"></i>
        Cuentanos tu inquietud
      </ion-item> 

    </ion-list>
  </ion-content>
</ion-view>
<ion-nav-view></ion-nav-view>




<!--<ion-view view-title="contactenos">
  <ion-content>

<ion-list>
  <ion-item class="item-remove-animate item-icon-left" type="item-text-wrap" ui-sref="tab.embedContact">
        <i class="icon ion-email"></i>
        Cuentanos tu inquietud
      
  </ion-item>
</ion-list>

    
    <div class="list">


      <a nav-clear class="item item-icon-left"  ui-sref="tab.embedContact">
        <i class="icon ion-email"></i>
        Cuentanos tu inquietud
      </a>
     
    
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chatbubble-working"></i>
        Llamanos
        <i class="icon ion-ios-telephone-outline"></i>
      </a>
    
      <a class="item item-icon-left" href="#" onclick="window.open('https://es-es.facebook.com/MaliAccesoriosFemeninos','closebuttoncaption=Return');">
        <i class="icon ion-person-stalker"></i>
        Facebook
        <span class="item-note">Like</span>
      </a>
      
      <a class="item item-icon-left" href="#" onclick="window.open('https://instagram.com/maliaccesorios/','closebuttoncaption=Return');" >
        <i class="icon ion-person-stalker"></i>
        Instagram
        <span class="item-note">Siguenos</span>
      </a>

  </div>
  </ion-content>
</ion-view>
-->