<ion-view view-title="Inicio">
  <ion-content class="padding">
    
    <div class="list card">

      <div class="item item-avatar">
        <img src="http://maliaccesorios.com/images/logo mali.png" alt="Mali Accesorios">
        <h2>Mali accesorios</h2>
        <p>Para todo tipo de mujer</p>
      </div>
      <div class="row">
       <div class="col col-50">
        <div class="item item-image">
          <img src="http://maliaccesorios.com/images/collares-home-mali-mayo.jpg">
        </div>
        
        <a class="item item-icon-left assertive" href="#" onclick="window.open('http://maliaccesorios.com/index.php/productos/collares-necklaces.html','closebuttoncaption=Return');">
          <i class="icon ion-star"></i>
          Collares
        </a>
        </div><!-- col-->
        
        <div class="col col-50">
        <div class="item item-image">
          <img src="http://maliaccesorios.com/images/pulseras-home-mali-mayo.jpg">
        </div>
    
        <a class="item item-icon-left assertive" href="#" onclick="window.open('http://maliaccesorios.com/index.php/productos/pulseras-bracelet.html','closebuttoncaption=Return');">
          <i class="icon ion-star"></i>
          Pulseras
        </a>
        </div><!-- col-->
        </div><!-- row-->
        
        <div class="row">
       <div class="col col-50">
        <div class="item item-image">
          <img src="http://maliaccesorios.com/images/aretes-home-mali-mayo.jpg">
        </div>
        
         <a class="item item-icon-left assertive" href="#" onclick="window.open('http://maliaccesorios.com/index.php/productos/aretes-earrings.html','closebuttoncaption=Return');">
          <i class="icon ion-star"></i>
          Aretes
        </a>
        </div><!-- col-->
        
        <div class="col col-50">
        <div class="item item-image">
          <img src="http://maliaccesorios.com/images/complementos-home-mali-mayo.jpg">
        </div>
        
        <a class="item item-icon-left assertive" href="#" onclick="window.open('http://maliaccesorios.com/index.php/productos/complementos-adds.html','closebuttoncaption=Return');">
          <i class="icon ion-star"></i>
          Complementos
        </a>
        </div><!-- col-->
        </div><!-- row-->
        
  
  </div>
  </ion-content>
</ion-view>
