<ion-modal-view>
    <ion-header-bar style="background-color:#87764E;">
            <h1 class="title" style="color:#ffffff">Términos de uso</h1>
            <div class="button button-clear" ng-click="closeModal(1)"><span class="icon ion-close"></span></div>                    
        </ion-header-bar>
        <ion-content class="padding" align="justify">
        <h2>Mali Accesorios</h2>
Fabricamos productos con amor por manos de personas con una gran calidad humana.<br><br>
transmitimos a nuestros clientes el gran amor y alegría por lo que hacemos,buscamos generar una gran satisfacción de nuestros clientes comprendiendo y contribuyendo a sus necesidades.<br><br>
Para comprar nuestros productos ten en cuenta que todos están sujetos a inventario y que los precios pueden variar según las cantidades que necesites.<br><br>
Cuando realices tu pedido nos lo envías y nosotros nos contactaremos contigo para verificar tus datos y confirmar la existencia de los productos en el inventario y el precio definitivo de tu pedido y la cuenta a consignar.<br><br>
También puede contactarnos telefónicamente a los números: En Medellín (574) 4481261, Celular (57) 301 425 8603 para atenderlo personalmente y aclarar todas sus dudas.<br> <br>
<h1>Acerca del pago:</h1><br>
<i class="ion-checkmark-circled"></i>Si se encuentra en la ciudad de Medellín pude visitar el punto de venta mayorista para obtener los descuentos ubicado en el Centro Integral Las Vegas Bodega 1-16 Sobre la avenida Las Vegas después de Ayurá Motors.<br><br>
<i class="ion-checkmark-circled"></i>Si se encuentra en otras ciudades primero debe confirmar el valor de su pedido a través de una cotización que le enviaremos por email y luego consignar el 100% para hacer el pedido y poderlo enviar.<br><br>
<i class="ion-checkmark-circled">Le recordamos seguir los pasos anteriormente descritos al momento de hacer el pedido para evitar confusiones. La consignación o la transferencia electrónica debe hacerse a nombre de Cardona Accesorios S.A.S. El Nit es 900.704.978-4 en la cuenta de ahorros No. 3752-1134 268 de Bancolombia.<br><br>
<i class="ion-checkmark-circled"></i>Por tratarse de productos de consumo masivo, es muy probable que al ordenar su pedido el producto esté agotado, por eso le solicitamos enviar el pedido para nosotros confirmar existencia en inventario.
<br><br>
<h1>Acerca del envío:</h1><br>
<i class="ion-checkmark-circled">Los productos seleccionados son empacado luego de haber realizado el pago y enviar el comprobante de este por correo a ventas.maliaccesorios@gmail.com.<br><br>
<i class="ion-checkmark-circled">El tiempo de entrega del producto varía según el lugar de entrega entre 2 o 4 días si están dentro del territorio colombiano y si es en Medellín de 1 a 2 días.<br><br>
<i class="ion-checkmark-circled">Se realiza envió gratuito en Medellín y a nivel nacional si su pedido es de 12 piezas en adelante, de lo contrario será por parte del cliente el pago del envió.<br><br>
<h1>Garantía y averías:</h1><br>
<i class="ion-checkmark-circled">Si los productos al momento de recibirlos presentan daños, comunicarse con nosotros al correo ventas.maliaccesorios@gmail.com o a los teléfonos en Medellín (574) 4481261 o celulares (57)301 425 8603 o 301 440 6490 y escribirnos las características de los danos y fotos para enviar una reposición lo más pronto posible.
<h1>Recomendaciones</h1><br><br>
<i class="ion-checkmark-circled">No aplicarle directamente perfumes o cremas a los accesorios directamente para que estos sean más duraderos, guardar individual ya que los materiales con los que están realizados los productos es fantasía que pude cambiar de color con el tiempo.


    </ion-content>
</ion-modal-view>