<ion-view view-title="Modal test">
    <ion-content class="im-wrapper">
        <button class="button button-full" ng-click="openModal()">Modal</button>
        <a ng-click="openModal()">clic</a>
        <script id="y" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">FAQs</h1>
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>                    
                </ion-header-bar>
                <ion-content class="padding">
                    Fabricamos productos con amor por manos de personas con una gran calidad humana.

transmitimos a nuestros clientes el gran amor y alegría por lo que hacemos,buscamos generar una gran satisfacción de nuestros clientes comprendiendo y contribuyendo a sus necesidades.

Para comprar nuestros productos ten en cuenta que todos están sujetos a inventario y que los precios pueden variar según las cantidades que necesites.

Cuando realices tu pedido nos lo envías y nosotros nos contactaremos contigo para verificar tus datos y confirmar la existencia de los productos en el inventario y el precio definitivo de tu pedido y la cuenta a consignar.

También puede contactarnos telefónicamente a los números: En Medellín (574) 4481261, Celular (57) 301 425 8603 para atenderlo personalmente y aclarar todas sus dudas.
                    Fabricamos productos con amor por manos de personas con una gran calidad humana.

transmitimos a nuestros clientes el gran amor y alegría por lo que hacemos,buscamos generar una gran satisfacción de nuestros clientes comprendiendo y contribuyendo a sus necesidades.

Para comprar nuestros productos ten en cuenta que todos están sujetos a inventario y que los precios pueden variar según las cantidades que necesites.

Cuando realices tu pedido nos lo envías y nosotros nos contactaremos contigo para verificar tus datos y confirmar la existencia de los productos en el inventario y el precio definitivo de tu pedido y la cuenta a consignar.

También puede contactarnos telefónicamente a los números: En Medellín (574) 4481261, Celular (57) 301 425 8603 para atenderlo personalmente y aclarar todas sus dudas.
                    Fabricamos productos con amor por manos de personas con una gran calidad humana.

transmitimos a nuestros clientes el gran amor y alegría por lo que hacemos,buscamos generar una gran satisfacción de nuestros clientes comprendiendo y contribuyendo a sus necesidades.

Para comprar nuestros productos ten en cuenta que todos están sujetos a inventario y que los precios pueden variar según las cantidades que necesites.

Cuando realices tu pedido nos lo envías y nosotros nos contactaremos contigo para verificar tus datos y confirmar la existencia de los productos en el inventario y el precio definitivo de tu pedido y la cuenta a consignar.

También puede contactarnos telefónicamente a los números: En Medellín (574) 4481261, Celular (57) 301 425 8603 para atenderlo personalmente y aclarar todas sus dudas.
                </ion-content>
            </ion-modal-view>
        </script>


        <script id="x" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">Terminos de uso</h1>
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>                    
                </ion-header-bar>
                <ion-content class="padding">
                    Fabricamos 
                </ion-content>
            </ion-modal-view>
        </script>        
    </ion-content>
</ion-view>
