<ion-view view-title="Ubicación">
  <ion-content class="padding">
  		<iframe   src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.6528930159919!2d-75.58687299999997!3d6.182711000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNsKwMTAnNTcuOCJOIDc1wrAzNScxMi43Ilc!5e0!3m2!1ses-419!2sco!4v1436218838254&q=Space+Needle" id="iframe" onload="isConection()"></iframe>
  </ion-content>
</ion-view>
<style type="text/css">
.preloader {
  background:url(img/preloader.GIF) center center no-repeat;
 }

.scroll-content > .scroll {
  height: 100%;
  width: 100%;
}
.scroll-content > .scroll > iframe {
  min-height: 100%;
  min-width:  100%;
}
</style>